[submodule "tinycc"]
	path = tinycc
	url = http://repo.or.cz/tinycc.git
[submodule "modules/Universal-LPC-spritesheet"]
	path = modules/Universal-LPC-spritesheet
	url = git@github.com:cosmo-ray/Universal-LPC-spritesheet.git
