[submodule "tinycc"]
	path = tinycc
	#url = http://repo.or.cz/tinycc.git
	url = https://github.com/cosmo-ray/tcc.git
[submodule "modules/Universal-LPC-spritesheet"]
	path = modules/Universal-LPC-spritesheet
	url = https://github.com/cosmo-ray/Universal-LPC-spritesheet.git
[submodule "SDL_mixer"]
	path = SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
