name: mingw

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
   
    - uses: msys2/setup-msys2@v2
      with:
        msystem: MINGW64
        install: >-
          git
          gcc
          base-devel
          pkgconf
          zip
          mingw-w64-x86_64-msmpi
          mingw-w64-x86_64-perl
        pacboy:
          SDL2_mixer
          SDL2_image
          SDL2_ttf
          freeglut
          pkgconf
          mesa
          cmake
          glew
          gcc
          dlfcn
          lua
          autotools
          json-c
          libmodplug
    
    - shell: msys2 {0}
      run: |
        git submodule update --init
        ./configure -t mingw-64
        cd tinycc
        ./configure --enable-static
        make -j$(nproc)
        cd ..
        make quickjs-2020-03-16
        make yirl-loader.exe
        ./package-maker.sh ./yirl-loader.exe tmp/
        rm -f tmp/shcore.dll
        mv tmp/* .
        rm -rvf tmp core tests .git* Makefile check.sh configure* *.sh sdl-gpu sdl-gpu-build SDL_mixer tinycc/tests/ quickjs-2020-03-16/ 
        zip -r yirl.zip .

        
    - uses: "marvinpinto/action-automatic-releases@latest"
      with:
          repo_token: "${{ secrets.TOKEN }}"
          automatic_release_tag: "latest_win"
          prerelease: true
          title: "Windows Nightly"
          files: |
            LICENSE
            yirl.zip
